<section class="featured-collections">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <div class="title-sep-container title-sep-container-left"><div class="title-sep"></div></div>
          <h2 class="page-title h1-size text-center">Watch Collections</h2>
          <div class="title-sep-container title-sep-container-right"><div class="title-sep"></div></div>
        </div>
        <p class="section-subtitle">EACH WATCH DONATES TO A PARTICULAR CHARITY</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4  col-xs-12">
        <a href="{{ settings.collection1_link }}"><img src="{{ 'collection1.jpg' | asset_url }}" alt="{{ settings.collection1_title }}"></a>
        <h3 class="text-center"><a href="{{ settings.collection1_link }}">{{ settings.collection1_title }}</a></h3>
      </div>
      <div class="col-sm-4  col-xs-12">
        <a href="{{ settings.collection2_link }}"><img src="{{ 'collection2.jpg' | asset_url }}" alt="{{ settings.collection2_title }}"></a>
        <h3 class="text-center"><a href="{{ settings.collection1_link }}">{{ settings.collection2_title }}</a></h3>
      </div>
      <div class="col-sm-4  col-xs-12">
        <a href="{{ settings.collection3_link }}"><img src="{{ 'collection3.jpg' | asset_url }}" alt="{{ settings.collection3_title }}"></a>
        <h3 class="text-center"><a href="{{ settings.collection1_link }}">{{ settings.collection3_title }}</a></h3>
      </div>
    </div>
  </div>
</section>