<!-- /templates/customers/reset_password.liquid -->

{% include 'small-header' %}
<section class="page-content">
    <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-md-offset-2">
            <div class="inpage-title text-center">
                <h1 class="page-title">{{ 'customer.reset_password.title' | t }}</h1>
                <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-vertical">
                   {% form 'reset_customer_password' %}

                        {{ form.errors | default_errors }}

                        <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
                        <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">

                        <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

                        <div class="btn-group center-btn-group">
                          <input type="submit" class="btn btn-default" value="{{ 'customer.reset_password.submit' | t }}">
                        </div>

                    {% endform %}
                </div>
            </div>        
        </div>

    </div>
</section>